*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.landing-page{
    background-color: rgb(245,250,254);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:580px){
    #text-1{
        display: block;
    }
    #text-2{
        width: 100%;
    }
    #text-3{
        width: 100%;
    }
};